/* Home */
body {
    background: url('../img/img3.png');
    background-size: cover;
}

.materi {
    margin-top: 10%;
}











/* Media navbar */
body {
    font-family: 'Open Sans, sans-serif';
    /* background: #2c3e50; */
}

nav {
    margin: 0px auto 1%;
    width: 590px;
    height: 50px;
    background: #65a4c3;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 #2075a0;
}

nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav a:hover {
    background-color: #e2edff;
    border-radius: 8px;
    margin: 0 3px;
    transition: all .5s ease 0s;
    color: black;
}

a:nth-child(1) {
    width: 100px;
}

a:nth-child(2) {
    width: 100px;
}

a:nth-child(3) {
    width: 100px;
}

a:nth-child(4) {
    width: 100px;
}

a:nth-child(5) {
    width: 100px;
}

