nav {
    border-radius: 5px;
    margin: 0 25%;
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 5px;
}

nav a:hover {
    border-radius: 5px;
    background-color: #e2edff;
    color: #000 !important;
}

.navColor {
    background-color: #65a4c3 !important;
}

.bi {
    color: rgb(255, 255, 255);
}

:root {
    --text-color: #e2edff;
    --text-color2: black;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--text-color);
    --bs-tooltip-color: (var(--text-color2));
}

.fullScreen {
    width: 100vh;
    height: 100vh;
}

.box {
    height: 50px;
    width: 50px;
    background-color: #65a4c3;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    line-height: 50px;
    text-align: center;
}
.box:hover{
    background-color: #e2edff;
    color: black !important;
}

body {
    background-image: url(../img/BG.jpg);
    background-size: cover;
}